# Disable Angular CLI analytics
ng-cli-analytics=false

# Disable npm update notifications
update-notifier=false

# Use exact versions when installing (no ^ or ~)
save-exact=true

# Prevent npm from suggesting/applying updates
prefer-offline=true
fund=false
audit=false
